:root { 
--green_300:#98ca8c; 
--indigo_400_99:#6361db99; 
--green_100:#cce5c6; 
--light_blue_300:#52c0e7; 
--red_200:#cc9e8b; 
--light_green_400:#98d964; 
--black_900_3f:#0000003f; 
--green_100_7f:#cce5c67f; 
--red_200_7f:#cc9e8b7f; 
--yellow_800:#e5a529; 
--deep_orange_100:#e6cfc6; 
--deep_orange_100_7f:#e6cfc67f; 
--gray_600:#73697c; 
--gray_601:#796f82; 
--gray_400:#bfbfbf; 
--orange_A200:#ff9a3c; 
--gray_800:#3b3b3b; 
--red_A200:#f85555; 
--gray_801:#3c3c3c; 
--black_900_0c:#0000000c; 
--gray_200:#eaeaea; 
--indigo_400:#6360da; 
--bluegray_601:#656580; 
--bluegray_600:#555488; 
--indigo_801:#3d3c78; 
--bluegray_100_7f:#c9e3e07f; 
--white_A700:#ffffff; 
--indigo_800:#3a3889; 
--deep_orange_50:#f3e7e3; 
--gray_50:#f9f9f9; 
--teal_200:#92c6c0; 
--deep_purple_300:#9e6fb7; 
--black_900:#000000; 
--black_901:#190404; 
--gray_905:#121223; 
--gray_903:#131323; 
--gray_904:#1f1f32; 
--gray_700:#5b5b5b; 
--gray_901:#1f1f31; 
--gray_902:#1e1e1e; 
--blue_800:#0534db; 
--gray_900:#150035; 
--bluegray_100:#c9e3e0; 
--teal_50:#e4f1f0; 
--green_50:#e6f2e3; 
--gray_100:#f6f6f6; 
--bluegray_900:#2c2c2c; 
--indigo_300:#7977eb; 
--indigo_100:#c4c3ff; 
--bluegray_700:#515162; 
--bluegray_103:#d7d7d7; 
--bluegray_102:#d2d2d9; 
--indigo_A400:#4744de; 
--bluegray_101:#d3d3da; 
--teal_200_7f:#92c7c07f; 
--bluegray_901:#2f2f3d; 
}